/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

 nav ul a,
 nav .brand-logo,
 .sidenav-trigger {
   color: #444;
 }
 
 p {
   line-height: 2rem;
 }

 .parallax{
  opacity: .9;
 }

 .parallax img{
  filter: blur(4px);
  -webkit-filter: blur(4px);
 }

 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255);
   
 }
 .parallax-container h1{
  font-weight: 600;
  text-shadow: 1px 1px 5px rgba(0,0,0,.5);
 }
 .parallax-container h5{
  text-shadow: 1px 1px 5px rgba(0,0,0,.5);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 